extends /app

block body 
    main.container
        +jumbotron("Text", "You can upload links or text selections to be accessed by the laptop but be sure to avoid super large texts, you can use the create file option if you wanna do something like that but keeo in mind that the text stored will not be formatted in any way.", "Learn More")
    +bar("text")