- var navItems = ["files", "home", "text"]
- var active = "active"

mixin bar(aitem)
    footer
        nav.nav-bar.bottom-app-bar
            each item in navItems
                div.nav-item(class={active: aitem == item})
                    - var isHome = item == "home"
                    if isHome
                        a(href="/")= item
                    else
                        a(href="/"+item)= item   
