extends /app

block body 
    main.container
        +jumbotron("Files", "You can upload any type of file here and manipulate file present in the system. Make sure to choose the right file, before uploading and avoid larger files.", "Learn More")
    +bar("files")